/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #766c59;
  --ifm-color-primary-dark: #6a6150;
  --ifm-color-primary-darker: #645c4c;
  --ifm-color-primary-darkest: #534c3e;
  --ifm-color-primary-light: #827762;
  --ifm-color-primary-lighter: #887c66;
  --ifm-color-primary-lightest: #978c76;
  --ifm-link-color: #6495ed;
  --ifm-link-hover-color: #ff7b00;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d3bc8f;
  --ifm-color-primary-dark: #c9ad76;
  --ifm-color-primary-darker: #c4a569;
  --ifm-color-primary-darkest: #b28d46;
  --ifm-color-primary-light: #ddcba8;
  --ifm-color-primary-lighter: #e2d3b5;
  --ifm-color-primary-lightest: #f1eadb;
}

h1 {
  text-align: center;
}